<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>
    <a class="sidebar-nav-item" target='_blank' href="http://www.trabdlkarim.com/">Blog</a>
    <a class="sidebar-nav-item" href="{{ site.url }}/about">About</a>
    <a class="sidebar-nav-item" href="{{site.my_gh_url}}/{{site.my_repo_name}}/archive/master.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.my_gh_url }}/{{site.my_repo_name}}" target='_blank'>View Source</a>
    <span class="sidebar-nav-item">{{ site.author.email }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All Rights Reserved.
    </p>
  </div>
</div>
